@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --purple: hsla(269, 45%, 26%, 1);
  --light-purple-200: hsla(269, 52%, 81%, 1);
  --light-green-500: hsla(177, 41%, 62%, 1);
  --light-green-200: hsla(189, 47%, 94%, 1);
  --yellow: hsla(42, 91%, 59%, 1);
  --light-yellow-200: hsla(42, 74%, 94%, 1);
  --text-black-200: hsla(210, 7%, 29%, 1);
  --text-black-300: hsla(210, 5%, 45%, 1);
  --light-gray-200: hsla(189, 47%, 94%, 1);
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}
